body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  background-color: #efefef;
}

#content-header {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

#header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-column: 1 / 12;
  grid-row: 1 / 5;
  background-color:#d3bda1;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
}

.header-left {
  justify-self: center;
  align-self: start;
  grid-column: 1 / span 2;
  grid-row: 1 / 2;
  color: #efefef;
  font-size: 4rem;
  text-shadow: 1px 1px 1px #000000;
}
/* 
============================================
            CSS GRID AND CARDS
============================================ 
*/

.cards {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 15px;
}

.grid-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(200px, auto);
  position: relative;
  border-radius: 1em;
  background-color: #efefef;
  -webkit-box-shadow: 0 2px 5px #777;
  -moz-box-shadow: 0 2px 5px #777;
  box-shadow: 0 2px 5px #777;
  overflow: hidden;
  margin: 10px 10px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.card-1 {
  grid-column: 2 / 8;
  grid-row: 1 / 4;
}

.card-2 {
  grid-column: 2 / 8;
  grid-row: 4 / 8;
}

.card-3 {
  grid-column: 2 / 8;
  grid-row: 8 / 12;
}

.card-4 {
  grid-column: 2 / 8;
  grid-row: 12 / 16;
 }

.card-5 {
  grid-column: 2 / 8;
  grid-row: 16 / 20;
}

.card-6 {
  grid-column: 2 / 8;
  grid-row: 20 / 24;
}

.card-7 {
  grid-column: 2 / 8;
  grid-row: 24 / 28;
}

.card-8 {
  grid-column: 2 / 8;
  grid-row: 28 / 32;
}

.card-9 {
  grid-column: 2 / 8;
  grid-row: 32 / 36;
}

.card-10 {
  grid-column: 2 / 8;
  grid-row: 36 / 40;
}

.card-11 {
  grid-column: 2 / 8;
  grid-row: 40 / 44;
}

.stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
}

.stack .tech {
  width: 5rem;
  -webkit-box-shadow: 0 2px 5px #777;
  -moz-box-shadow: 0 2px 5px #777;
  box-shadow: 0 2px 5px #777;
}

.long-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.long-stack .tech {
  width: 14rem;
  text-align: center;
  -webkit-box-shadow: 0 2px 5px #777;
  -moz-box-shadow: 0 2px 5px #777;
  box-shadow: 0 2px 5px #777;
}

.card-content div .tech-buttons {
  background-color: #a4b3c3;
  color: #efefef;
  border-radius: 1.235rem;
  font-size: 1.1rem;
  padding: 0.5rem 0.6rem;
  margin: 0.3rem;
}

.grid-card .tech-stack {
  text-align: center;  
  color: #8972e6;
  font-size: 2rem;
}

.grid-card .card-header .card-image {
  height: 60%;
}

.grid-card .card-header.bg1 {
  background-color: #00A388;
}
.grid-card .card-header.bg2 { 
  background-color: #F89B3C;
}
.grid-card .card-header.bg3 {
  background-color: #1EAAC2;
}

.grid-card .card-header.bg4 {
  background-color: #dcef73;
}

.grid-card .card-header.bg5 {
  background-color: #a9449d;
}

.grid-card .card-header.bg6 {
  background-color: #8972e6;
}

.grid-card .card-header.bg7 {
  background-color: #dcef73;
}

.grid-card .card-header.bg8 {
  background-color: #02415f;
}

.grid-card .card-header.bg9 {
  background-color: #9a9c87;
}

.grid-card .card-header.bg10 {
  background-color: #1EAAC2;
}

.grid-card .card-header.bg11{
  background-color: #00A388;
}

.grid-card .card-content {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 12px;
}

.grid-card .card-header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  text-align: center;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
}

.grid-card .card-cell-1 {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.grid-card .card-cell-2 {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

.grid-card .card-content .card-title {
  display: flex;
  justify-content: center;
  color: #8972e6;
  margin: 0;
  padding: 0;
  padding-bottom: 35px;
}

.grid-card .card-content .card-text {
  align-self: center;
  transform: translate(0,-25%);
  color: #8972e6;
  font-family: 'Sansita One', sans-serif;
  font-size: 1em;
  line-height: 1.2rem;
  letter-spacing: 0.1rem;
}

.grid-card:hover {
  -webkit-box-shadow: 0 5px 6px #777;
  -moz-box-shadow: 0 5px 6px #777;
  box-shadow: 0 5px 6px #777;
  -webkit-transform: translate(0,-2%);
  -moz-transform: translate(0,-2%);
  transform: translate(0,-2%);
}

/* 
============================================
                  BUTTONS
============================================ 
*/

.button {
  color: #8972e6;
  text-decoration: none;
  margin: 5px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s ease all;
}

.button:hover,
.button:focus{
  color: #fff;
}

.button {
  border-radius: 5em;
  font-size: 0.7rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  width: 10rem;
  font-weight: bold;
  padding: 10px 0px;
  border: 3px solid #8972e6;
  position: relative;
  box-shadow: 0 2px 5px #00000029, 0 3px 6px #0000001a;
}

.button:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.3s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #d79c51;
  z-index: -1;
  border-radius: 6em;
}

.button:hover:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.button:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

#buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

/* 
============================================
                BREAKPOINTS
============================================ 
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .grid-card .card-content .button {
    font-size: 0.9rem
  }
  .grid-card .card-content .card-text {
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin: 0;
    padding: 2px 40px;
  }
  .overlay ul li a {
    font-size: 3.5rem;
  }
  .grid-card #no-color {
    background-color: transparent;
  }
  .overlay ul li a {
    font-size: 3.5rem;
  }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .grid-card .card-content .card-title {
    font-size: 2.2rem;
  }

  .grid-card .card-content .button {
    font-size: 1.1rem
  }

  .grid-card .card-content .card-text {
    line-height: 2rem;
  }

  .overlay ul li a {
    font-size: 4rem;
  }

  .grid-card .card-header .card-image {
    height: 70%;
  }
 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .grid-card .card-content .card-title {
    font-size: 2.4rem;
  }

  .grid-card .tech-stack {
    font-size: 2.2rem;
  }

  .cards {
    grid-template-columns: repeat(16, 1fr);
  }
  .card-1 {
    grid-column: 3 / 15;
    grid-row: 1 / 2;
  }
  
  .card-2 {
    grid-column: 3 / 15;
    grid-row: 2 / 3;
  }
  
  .card-3 {
    grid-column: 3 / 15;
    grid-row: 3 / 4;
  }
  
  .card-4 {
    grid-column: 3 / 15;
    grid-row: 4 / 5;
  }

  .card-5 {
    grid-column: 3 / 15;
    grid-row: 5 / 6;
  }

  .card-6 {
    grid-column: 3 / 15;
    grid-row: 6 / 7;
  }

  .card-7 {
    grid-column: 3 / 15;
    grid-row: 8 / 9;
  }

  .card-8 {
    grid-column: 3 / 15;
    grid-row: 9 / 10;
  }

  .card-9 {
   grid-column: 3 / 15;
   grid-row: 10 / 11;
  }

  .card-10 {
   grid-column: 3 / 15;
   grid-row: 11 / 12;
  }

  .card-11 {
   grid-column: 3 / 15;
   grid-row: 12 / 13;
  }

  .grid-card {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: minmax(200px, auto);
    position: relative;
  }

  .grid-card .card-header {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
  }

  .grid-card .card-cell-1 {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
  }

  .grid-card .card-cell-2 {
    grid-column: 5 / 8;
    grid-row: 1 / 3;
  }

  .grid-card .card-header .card-image {
    height: 80%;
  }

  .stack {
    width: 70%;
  }

  .grid-card #no-color {
    background-color: transparent;
  }

  .overlay ul li a {
    font-size: 5rem;
  }

  .grid-card {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .grid-card:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
  }
  .overlay ul li a {
    font-size: 4rem;
  }
 }

 /* .bg3, .bg4, .bg5, .bg6, .bg7, .bg8, .bg9, .bg10, .bg11 */