* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Arial, Helvetica, sans-serif;
  background-color: #333333;
  color: white;
  line-height: 1.6;
  height: 100vh; 
} 

.container {
  width: 100%;
  height: 100%;
}

.navigationBar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  background-color: rgba(0,0,0,0.7);
}

.navigationBar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.navigationBar ul li {
  margin: 0 1rem;
  padding: 1rem;
}

.navigationBar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: whitesmoke;
}

.navigationBar ul li a:hover {
  color: skyblue;
}