.container .menu-anchor:after {
  content: '';
  position: absolute;
  background: #008a8a  ;
  height: 2px;
  width: 0%;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0;
  transition: 0.35s ease;
}
.button_container {
  position: fixed;
  top: 5%;
  right: 2%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.25s ease;
}
.button_container:hover {
  opacity: 0.7;
}

.button_container.active .top {
  transform: translateY(-13px) translateX(-9px) rotate(70deg);
  background: #222020  ;
  border-radius: 10px;
  width: 80%;
}
.button_container.active .middle-1 {
  transform: translateY(0px) translateX(-15px) rotate(-70deg);
  background: #222020  ;
  border-radius: 10px;
}
.button_container.active .middle-2 {
  transform: translateY(10px) translateX(14px) rotate(72deg);
  background: #222020  ;
  border-radius: 10px;
}
.button_container.active .bottom {
  transform: translateY(-13px) translateX(0) rotate(-67deg);
    background: #222020  ;
    border-radius: 10px;
    width: 80%;
}

/* Hamburguer menu before active */

.button_container span {
  background: #222020  ;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 40px;
  right: 30px;
  transition: all 0.35s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 30px;
}
.button_container span:nth-of-type(3) {
  top: 20px;
}
.overlay {
  position: fixed;
  background: #749887;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
}
.overlay.open {
  opacity: 0.9;
  visibility: visible;
  height: 100%;
}
.overlay.open li {
  animation: fadeInRight 0.5s ease forwards;
  animation-delay: 0.35s;
}
.overlay.open li:nth-of-type(2) {
  animation-delay: 0.4s;
}
.overlay.open li:nth-of-type(3) {
  animation-delay: 0.45s;
}
.overlay.open li:nth-of-type(4) {
  animation-delay: 0.5s;
}
.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  font-weight: 400;
  text-align: center;
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}
.overlay ul li a {
  display: block;
  position: relative;
  color: #e6ffff  ;
  text-decoration: none;
  overflow: hidden;
  font-size: 3rem;
}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}
.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #e6ffff;
  transition: 0.35s;
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
}
  100% {
    opacity: 1;
    left: 0;
}
} 