* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  color: #e6ffff;
  background-color: #e6ffff;
  line-height: 1.6;
  /* overflow: hidden; */
} 

.container {
  width: 100%;
  height: 100%; 
  scroll-snap-type: y mandatory;
}

.sections {
  position: relative;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  scroll-snap-align: center;
  text-shadow: 2px 2px 1px #000000;
  text-align: center;
}
 
.sections h1 {
  font-size: 4rem;
}

#home h1 {
  font-size: 3rem;
}
#home h2 {
  font-size: 2rem;
}

.sections p {
  font-size: 1.7rem;
}

.sections h3 {
  font-size: 2rem;
  margin-top: 20px;
}

#text-hero {
  width: 100% !important;
  left: 0 !important;
  text-align: center;
}

#home {
  color: #e6ffff;
  position: relative;
  background: linear-gradient(90deg, #5EBD3E, #FFB900, #F78200, #E23838, #E23838, #973999, #009CDF);
  background-size: 400% 400%;
  animation: change 15s ease-in-out infinite; 
  /* clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%); */
}

#about {
  background-color: #d35252;
}

#resume {
  background-color: #000033;
}

#projects {
  color: #000033;
  background-color: #e6ffff;
  text-shadow: 2px 2px 1px #dfd3d3;
  position: relative;
  overflow: hidden;
}

/* .scroll-in {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1.5s ease-out;
}

.scroll-in.fade-in {
  opacity: 1;
  transform: translateY(0);
} */

@keyframes change {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

  #home h1 {
    font-size: 3rem;
  }

  #home h2 {
    font-size: 2rem;
  }

  .sections h1 {
    font-size: 4.5rem;
  }

  .overlay ul li a {
    font-size: 3.5rem;
  }

 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  #home h1 {
    font-size: 3.5rem;
  }

  #home h2 {
    font-size: 2.5rem;
  }

  .sections h1 {
    font-size: 5rem;
  }

  .overlay ul li a {
    font-size: 4rem;
  }
 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

  #home h1 {
    font-size: 4.5rem;
  }

  #home h2 {
    font-size: 3.5rem;
  }

  .sections h1 {
    font-size: 6rem;
  }

  .overlay ul li a {
    font-size: 5rem;
  }
 }

